<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{mainTitle}
        link(rel="shortcut icon", href="../images/melonLogo.png", type="image/x-icon")
        link(rel="stylesheet", href="/static/styles.css")
        script(src="https://kit.fontawesome.com/a0049c89ed.js" crossorigin="anonymous")
    body
        .body__box
            .content
                include ../partials/header
                block content
                include ../partials/footer
                script(src="/static/main.js")
            include ../partials/sideLogin