extends ./layouts/main

block content
    .user__me
        .user__profile
            span.user__information 내 정보
            span.user__id 로그인계정: #{myUser.email}
        .user__profile-box
            span.user__edit 멜론 정보수정 
            span.user__name=myUser.nickname
            span.name__change 닉네임 변경 >