.loginForm__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .loginForm__logo {
    margin-bottom: 50px;
    img {
      width: 250px;
    }
  }
  .kakaoLogin {
    margin-bottom: 80px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #fae100;
    border: 1px solid #fae100;
    border-radius: 5px;
    a {
      &:visited {
        color: black;
      }
    }
    img {
      margin-right: 20px;
      width: 30px;
    }
  }
  .loginForm__sign {
    margin-bottom: 150px;
    font-size: 15px;
    color: black;
  }
  .loginForm__footer {
    .loginForm__nav {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      .nav__item {
        margin-right: 30px;
        font-size: 13px;
        img {
          width: 50px;
        }
      }
      .gray {
        color: gray;
        font-weight: bold;
      }
    }
    .loginForm__kakao {
      color: gray;
      font-size: 12px;
      text-align: center;
    }
  }
}
