extends ../../../layouts/sideMain

include ../../../mixins/chartBlock
block content
    +chartSideBox()
    .chart__content-box
        .chart__content
            .chart__nav
                a(href=`/music${routes.chart}/rise/day`).nav__item.click__first__nav 일간
                a(href=`/music${routes.chart}/rise/week`).nav__item 주간
                a(href=`/music${routes.chart}/rise/month`).nav__item 월간
            +chartButton()
            .chart__list
                .chart__list-nav
                    if newestMusic
                        .nav__item
                            input(type="checkbox", name="")
                            -for(let i =1; i<=newestMusic.length; i++ )
                                input(type="checkbox", name="")
                        .nav__item NO
                            -for(let i =1; i<=newestMusic.length; i++ )
                                .number #{i}
                        .nav__item 이미지
                                each item in newestMusic
                                    +musicImageBlock({
                                        id: item.id,
                                        image: item.image
                                    })
                        .nav__item 곡정보
                                each item in newestMusic
                                    +musicTitleBlock({
                                        id: item.id,
                                        title: item.title
                                    })
                        .nav__item 앨범
                                each item in newestMusic
                                    +musicAlbumBlock({
                                        album: item.description
                                    })
                        .nav__item 좋아요
                                each item in newestMusic
                                    +musicLikeBlock({
                                        like: item.views
                                    })
                        .nav__item 듣기
                            -for(let i =1; i<=newestMusic.length; i++ )
                                i.fas.fa-play
                        .nav__item 담기
                            -for(let i =1; i<=newestMusic.length; i++ )
                                i.fas.fa-plus
                        .nav__item 다운
                            -for(let i =1; i<=newestMusic.length; i++ )
                                i.fas.fa-file-download
                    else 
                        | Not Found