extends ../../layouts/signMain

block content
    .loginForm__box
        .loginForm__logo
            a(href=routes.home)
                img(src="../images/Logo.png", alt="Melon 메인")
        a(href=routes.kakao).kakaoLogin 
            img(src="../images/kakaoSpeechBubble.jpg")
            span 카카오계정 로그인   
        a(href=routes.sign).loginForm__sign 회원가입
        .loginForm__footer
            .loginForm__nav
                .nav__item 이용약관
                .nav__item 위치기반서비스 이용약관
                .nav__item 개인정보처리방침
                .nav__item 고객센터
            .loginForm__nav
                .nav__item.gray
                    img(src="../images/Logo.png", alt="Melon티켓")
                .nav__item.gray Aztalk
                .nav__item 문의전화 : 1566-7727 (평일 09:00-18:00, 유료)
            .loginForm__kakao &copy Kakao Corp.